<table>
    <thead>
        <th>name</th>
        <th>weight</th>
        <th>cost</th>
    </thead>
    <tbody>
        {{#each items}}
        <tr>
            <td>{{name}}</td>
            <td>{{weight}}</td>
            <td>{{cost}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>